.NewsCardsContainer {
    & > header {
        margin: 30px 0;
        padding: 0 20px;
        font-size: clamp(0.9rem, 2vw, 1rem);
    }

    & > div {
        gap: 15px 20px;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin-bottom: 50px;
    }
}

.FooterContainer {
    width: 100%;
    background-color: var(--dark-40);
}