.NewsCard {
    width: 250px;
    cursor: pointer;
    transition: all 0.2s linear;

    & > img {
        width: 100%;
        height: 120px;
        user-select: none;
    }

    & > div {
        padding: 15px;
        border: 1px solid var(--dark-40);
        border-top: none;

        & > h1 {
            font-size: clamp(0.8rem, 2vw, 0.5rem);
            margin-bottom: 10px;
        }

        & > p {
            font-size: clamp(0.8rem, 2vw, 0.5rem);
        }
    }
}

.NewsCard:hover {
    scale: 1.1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}